#artist
  .user-image= image_tag @user.image

  = simple_form_for(current_user) do |f|
    = f.input :name
    = f.input :location
    = f.input :story
    = f.input :background, as: :file, required: false, label: "Background Photo"
    = f.submit
