- if current_user == @user
  - if !@user.has_valid_wepay_access_token? || !@user.has_wepay_account?
    %p
      Please create an account to manage your money:
    - redirect_uri = url_for(:controller => 'users', :action => 'oauth', :user_id => @user.id, :host => request.host_with_port)
    = link_to "Click here to create your ", @user.wepay_authorization_url(redirect_uri)

%img(src="#{@user.background}" id="bg" alt="")
.page
  #artist
    .user-image= image_tag @user.image
    .name= @user.name
    .location= @user.location
    .about
      %p= @user.story
    - if current_user == @user
      = link_to "Edit", edit_user_path(@user), method: :get, :remote => true
  = render :partial => "/items/user_items", :item => @item
