.page
  .item-index
    -@items.shuffle.each do |item|
      -if item.sold == false
        .item{:id => "item-#{item.id}", :style => "background-image: url(#{item.images[0].image});"}
          .item-content
            .item-name= item.name
            %hr
            .view2= link_to "By #{item.user.name}", user_path(item.user)
