.item-container
  %button.exit X
  .item-name2= @item.name
  .item-images
    %ul
      %li{ :style => "background-image: url(#{@item.img});" }
  .item-price= "$#{@item.price}"
  - if @user.has_wepay_account? && current_user != @user
    .buy= link_to "Buy", "/users/#{@user.id}/#{@item.id}/buy", :class => "buy"
  .item-description= @item.description
