.page
  .sale-container
    .header Sales

    .header= "Total sales so far: $#{Sale.total(@user.sales)}"

    .header= "Sales in: #{Sale.sold_to(@user.sales)}"


    - @user.sales.each do |sale|
      .sale
        .item{:id => "item-#{sale.item.id}", :style => "background-image: url(#{sale.item.images[0].image});"}
        .create_time= "Sold at: #{Time.at(sale.create_time).strftime("%m/%d/%Y")}"
        .short_description="Description: #{sale.short_description}"
        .long_description="Item Description: #{sale.long_description}"
        .amount="Sold for: $#{sale.amount}"
        .payer_name="Sold to: #{sale.payer_name}"
        %h2 Shipping address
        .shipping_address
          ="#{sale.shipping.name}"
          ="#{sale.shipping.address1}"
          ="#{sale.shipping.address2}"
          ="#{sale.shipping.city}"
          ="#{sale.shipping.state}"
          ="#{sale.shipping.zip}"
          ="#{sale.shipping.country}"
        .action-links
          - if sale.shipped == false && sale.refunded == false
            = link_to 'Mark as shipped!', mark_as_shipped_path(sale_id: sale.id), method: :put
          - elsif sale.shipped == true
            %h4 Shipped!
          - if sale.refunded == false
            = link_to 'Refund payment', refund_payment_path(sale_id: sale.id), method: :put
          - else
            %h4 Refunded!
            - if sale.item.sold == true
              = link_to 'Relist Item', relist_item_path(item_id: sale.item), method: :put
            - else
              %h4 Relisted!
